@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.upload-page {
  margin: 16px;
  @include tablet {
    margin: 24px;
  }
  &__title {
    border-top: 1px solid $silver2;
    padding-top: 16px;
    padding-bottom: 16px;
    @include tablet {
      border-bottom: 1px solid $silver2;
      font-size: 33px;
      padding-top: 50px;
      padding-bottom: 40px;
      margin-bottom: 24px;
    }
  }
  &__desktop-wrapper {
    @include desktop {
      display: flex;
      width: 100%;
    }
  }

  &__thumbnail-wrapper {
    @include desktop {
      margin-right: 24px;
    }
  }
  &__thumbnail {
    &-title {
      font-weight: 600;
      color: $silver1;
      margin-bottom: 10px;
    }
    &-container {
      margin-top: 7px;
      margin-bottom: 16px;
    }
    &-img {
      height: 200px;
      max-width: 100%;
      object-fit: contain;
      @include tablet {
        height: 250px;
      }
    }
  }
  &__form-container {
  }
  &__form-subtitle {
    font-weight: 600;
    color: $silver1;
    margin-top: 16px;
  }
  &__form-group-items {
  }

  &__form-input {
    color: $black1;
    padding-right: 75px;
    margin-top: 7px;
    margin-bottom: 16px;
    @include tablet {
      padding-right: 500px;
    }
  }
  &__form-wrapper {
    display: flex;
    flex-direction: column;
    @include tablet {
      display: flex;
      flex-direction: column;
    }
  }

  &__form-input-description {
    padding: 16px 77px 16px 0;
    margin-top: 7px;
    margin-bottom: 16px;
    @include tablet {
      padding-right: 500px;
    }
  }
  &__form-btn-wrapper {
    @include tablet {
      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      border-top: 1px solid $silver2;
    }
  }
  &__form-button {
    background-image: url(../../assets/images/icons/publish.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: $blue1;
    border-radius: 4px;
    border: none;
    height: 40px;
    width: 293px;
    color: $white1;
    font-weight: $font1;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    @include tablet {
      width: 200px;
    }
  }
  &__form-button-cancel {
    color: $blue1;
    background-color: $white1;
    border: none;
    height: 40px;
    width: 293px;
    border-radius: 4px;
    font-style: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 16px;
    margin-bottom: 16px;
    @include tablet {
      width: 200px;
    }
  }

  &__page-notification {
    margin: 16px;
  }
}

.upload-page__form-button:hover {
  background-color: $blue1;
}

.upload-page__form-button:active {
  background-color: $blue2;
}

.upload-page__form-button-cancel:hover {
  background-color: $white1;
}

.upload-page__form-button-cancel:active {
  background-color: $blue1;
}
