$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$black1: #323232;
$blue1: #0095ff;
$silver1: #afafaf;
$white1: #ffffff;

$black2: #000000;
$blue2: #0065ad;
$silver2: #e1e1e1;
$white2: #fafafa;

$desktop-margin: auto;
$desktop-column: 63px;
$desktop-gutter: 24px;

$tablet-margin: 36px;
$tablet-column: auto;
$tablet-gutter: 24px;

$mobile-margin: 16px;
$mobile-column: auto;
$mobile-gutter: 16px;
