//breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$black1: #323232;
$blue1: #0095ff;
$silver1: #afafaf;
$white1: #ffffff;

$black2: #000000;
$blue2: #0065ad;
$silver2: #e1e1e1;
$white2: #fafafa;

// PRIMARY COLORS
// BrainFlix-Black: Primary text color.

// BrainFlix-Blue: Primary CTA color. Active form field outline color.

// Silver: Seconday text color. Text Label color.
//  White: Background color. CTA text color.
// SECONDARY COLORS
// BrainFlix-DarkBlack: Video player components.
//  BrainFlix-DarkBlue: CTA hover state color. Mercury: Divider line. Form field outline color.
//  Alabaster: Form field background color.

$desktop-margin: auto;
$desktop-column: 63px;
$desktop-gutter: 24px;

$tablet-margin: 36px;
$tablet-column: auto;
$tablet-gutter: 24px;

$mobile-margin: 16px;
$mobile-column: auto;
$mobile-gutter: 16px;

// PADDING:
// DESKTOP / TABLET
// Padding before headlines: 36px
//  Padding after headlines: 24px
//  Padding between components: 24px

// MOBILE
// Padding before headlines: 24px
//  Padding after headlines: 16px
//  Padding between components: 16px

// DIVIDER:
// DESKTOP
// Stroke width: 1px
//  Fill color: Mercury

// TABLET
// Stroke width: 1px
//  Fill color: Mercury

// MOBILE
// Stroke width: 1px
//  Fill color: Mercury
