@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

body {
  font-family: $avenir-font-family;
  color: $black1;
  border: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $avenir-font-family;
  font-size: $headerfont-mobile;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  @include tablet {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    padding-bottom: 0;
  }

  //   &__logo {

  //     }
  &__img {
    height: 40px;
    width: 135px;
  }
  &__wrapper {
    @include tablet {
      display: flex;
      flex-direction: row;
      padding-bottom: 16px;
    }
  }
  &__searchicon {
    display: flex;
    padding-bottom: 16px;
  }
  &__search {
    color: $silver1;
  }
  &__searchbar {
    background-image: url(../../assets/Images/Icons/search.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    border: 1px solid $silver1;
    border-radius: 4px;
  }
  &__icon {
    padding-left: 6px;
  }
  &__image {
    border-radius: 50%;
    height: 36px;
    width: 36px;

    @include tablet {
      display: none;
    }
  }
  &__uploadbutton {
    background-image: url(../../assets/Images/Icons/upload.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: $blue1;
    border-radius: 4px;
    border: none;
    height: 40px;
    width: 270px;
    color: $white1;
    font-weight: $font1;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    @include tablet {
      height: 40px;
      width: 200px;
    }
  }
  &__icon2 {
    @include tablet {
      padding-left: 16px;
    }
  }
  &__image2 {
    display: none;
    @include tablet {
      display: flex;
      border-radius: 50%;
      height: 36px;
      width: 36px;
    }
  }
}

.header__uploadbutton:hover {
  background-color: $blue1;
}

.header__uploadbutton:active {
  background-color: $blue2;
}

input[type="text"] {
  height: 40px;
  width: 210px;
  color: $silver1;
}

input[placeholder="Search"] {
  padding-left: 30px;
}
