@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/typography" as *;

.comment-section {
  &__count {
    font-weight: 700;
    padding-left: 16px;
    @include tablet {
      padding-left: 16px;
    }
  }
  &__wrapper {
    justify-content: space-evenly;
    border-bottom: 1px solid $silver2;
    @include desktop {
      border-style: none;
    }
  }
  &__groupdetails {
    display: flex;
    flex-direction: row;
    @include tablet {
      display: flex;
      justify-content: center;
    }
  }
  &__image {
    border-radius: 50%;
    height: 36px;
    width: 36px;
    padding: 10px;
    @include tablet {
      margin-top: 16px;
    }
  }
  // &__form {
  // }
  &__groupitems {
    @include tablet {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }
  &__title {
    font-weight: 700;
    color: $silver1;
    margin: 0;
  }
  &__container {
    padding-bottom: 16px;
    // display: flex;
  }
  &__commentform {
    width: 230px;
    height: 100px;
    border-radius: 4px;
    border: 1px solid $silver1;
    @include tablet {
      width: 400px;
      height: 40px;
      margin-right: 16px;
    }
  }
  &__btnwrapper {
    padding-top: 16px;
    @include tablet {
      padding-top: 0;
    }
  }
  &__btn {
    height: 40px;
    width: 235px;
    border-radius: 4px;
    border: none;
    color: $white1;
    background-image: url(../../assets/Images/Icons/add_comment.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: $blue1;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    @include tablet {
      width: 190px;
      height: 40px;
    }
  }
  &__commentlist {
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &__selectedcomments {
    display: flex;
    border-bottom: 1px solid $silver2;
    padding: 16px;
    @include tablet {
      width: 85%;
    }
    @include desktop {
      border-bottom: none;
      border-top: 1px solid $silver2;
      width: 100%;
      padding-left: 30px;
    }
  }
  // &__userpic {
  // }
  &__placeholder {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  &__avatar {
    border-radius: 50%;
    height: 36px;
    width: 36px;
    padding: 10px;
  }
  // &__commentinfo {
  // }
  &__headerinfo {
    display: flex;
    justify-content: space-between;
  }
  &__username {
    font-weight: 600;
    @include desktop {
      font-size: 18px;
    }
  }
  &__date {
    color: $silver1;
    @include desktop {
      font-size: 18px;
    }
  }
  &__text {
    @include tablet {
      width: 90%;
    }
    @include desktop {
      font-size: 18px;
    }
  }
}

.comment-section__btn:hover {
  background-color: $blue1;
}

.comment-section__btn:active {
  background-color: $blue2;
}
